{% extends "base.html" %}
{% block content %}
<h1>House html </h1>
<div class="row_0” id="column_0”>Block</div>
<div class="row_0” id="column_1”>Block</div>
<div class="row_0” id="column_2”>Block</div>
<div class="row_0” id="column_3”>Block</div>
<div class="row_0” id="column_4”>Block</div>
<div class="row_1” id="column_0”>Block</div>
<div class="row_1” id="column_1”>Block</div>
<div class="row_1” id="column_2”>Block</div>
<div class="row_1” id="column_3”>Block</div>
<div class="row_1” id="column_4”>Block</div>
<div class="row_2” id="column_0”>Block</div>
<div class="row_2” id="column_1”>Block</div>
<div class="row_2” id="column_2”>Block</div>
<div class="row_2” id="column_3”>Block</div>
<div class="row_2” id="column_4”>Block</div>
<div class="row_3” id="column_0”>Block</div>
<div class="row_3” id="column_1”>Block</div>
<div class="row_3” id="column_2”>Block</div>
<div class="row_3” id="column_3”>Block</div>
<div class="row_3” id="column_4”>Block</div>
<div class="row_4” id="column_0”>Block</div>
<div class="row_4” id="column_1”>Block</div>
<div class="row_4” id="column_2”>Block</div>
<div class="row_4” id="column_3”>Block</div>
<div class="row_4” id="column_4”>Block</div>
{% endblock %}