{% extends 'base.html' %}
{% block body %}

   <h2>{{ location.location_type }}</h2>
   <img class="location-image" src="{{ location.image_url }}">
   <h5>Price per location: {{ location.location_types() }}</h5>

   <ul>
   <li>Color: {{ location.color }}</li>
   {% if location.seedless %}
      <li>Seedless location</li>
   {% else %}
      <li>Warning! This location has seeds</li>
   {% endif %}
   </ul>

   <a class="btn btn-primary" href="{{ url_for('add_to_cart', location_id= location.location_id) }}">Add to Cart</a>
{% endblock %}